/* header impostazioni */
header{
    background-image: url(../img/pattern.png);
    background-size: 50%;
    background-color: rgb(19, 148, 253);
}

#booleaner{
    margin-top: 5%;
    height: 30%;
    width: 30%;
}

/* main impostazioni */

h1{
    margin-bottom: 0;
}

h2{
color: grey;
font-size: 75%;
margin-top: 0;
}

#nome_autore {
    color: rgb(0, 180, 240);
}

#didascalia {
    margin-top: 0;
    font-size: 50%;
}

.evidenziatore{
    background-color: yellow;
}

#headtabella{
    background-color: rgb(84, 161, 244);
    color: white;
}