/* header impostazioni */
header{
    background-image: url(../img/pattern.png);
    background-size: 50%;
    background-color: rgb(19, 148, 253);
}

#booleaner{
    margin-top: 5%;
    height: 30%;
    width: 30%;
}

/* main impostazioni */

h1{
    margin-bottom: 0;
}

h2{
color: grey;
font-size: 75%;
margin-top: 0;
}

#nome_autore {
    color: rgb(0, 180, 240);
}

#didascalia {
    margin-top: 0;
    font-size: 50%;
}

.evidenziatore{
    background-color: yellow;
}

thead{
    background-color: rgb(79, 154, 225);
    color: white;
    
}

#th1{
    width: 25%;
}

#th3{
    width: 50%;
}

table {
    border-collapse: collapse;
    width: auto;
    height: auto;
    text-align: left;
}

#rigachiara{
    background-color: lightblue;
}

.container{
position: relative;

}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 21px;
    font-weight: 700;
    color: white;
  }